#!/bin/bash

## General
alias l='ls -lta'
alias c='cd ~/Code'
alias ports='lsof -i'
alias fin='ledger -f ~/finances/secret/ledger.dat'
alias finm='ledger -f ~/finances/secret/ledger.dat --market'
alias finb='ledger -f ~/finances/secret/ledger.dat -f ~/finances/secret/budgets.dat'
alias mortgage='ledger -f ~/finances/secret/mortgage.dat'
alias budget='finb -p $(date +%h) budget'
alias twc='ledger -f ~/finances/secret/ducky.dat'
alias serve='ruby -run -ehttpd . -p3000'
alias sha256='openssl dgst -sha256'

eval $(thefuck --alias)

function pid {
  directory=$(basename $(pwd))
  ps -ef | grep Java | grep ${directory} | awk '{print $2}'
}

function kpid {
  kill $(pid)
}

function lower {
  cat - | tr 'A-Z' 'a-z'
}

function upper {
  cat - | tr 'a-z' 'A-Z'
}

## Code
alias gobin='cd ${GOPATH}/bin'
alias goft='cd ${GOPATH}/src/github.com/Financial-Times'
alias gopete='cd ${GOPATH}/src/github.com/peteclark-ft'
